body{
	background-color: #000002;
	padding:0;
	margin:0;
}

nav, ul, li{
	color: #FFFFFF;
	font-size: 20px;
	list-style-type: none;
	float: left;
	
}

nav, ul, li, a{
	color: white;
	text-decoration: none;
	margin:50px;
	
}

nav, ul, li, a:hover{ 
	color: #86A6A6;
	font-family: "miller-banner", serif;
	font-weight: 700;
	font-style: italic;
}

.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "nautica", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size:150px;
  
}

.tagline-container {
  width: 100%; 
  margin:0;
  padding:20px, 50px;
  color:#86A6A6 ;
  font-size: 32px;
font-family: "miller-banner", serif;
font-weight: 700;
font-style: italic;
}

.tagline-left {
  float: left;
  position: relative;
  left:2%;
}

.tagline-right {
  float: right;
  position: relative;
  right:2%;
}

h1{
	margin-top:10px;
	text-align: center;
    color: white;
    font-family: "nautica", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:100px;

}

p{
	margin-bottom:10px;
	text-align:center;
	color:white;
	font-family: "miller-banner", serif;
	font-weight: 400;
	font-style: normal;
	font-size:25px;
	
}

.imgBox img{
	height:28vh;

}


.imgBox {
  position: relative;
  background-color: #86A6A6;
  border-radius: 10px;
  height: 65vh;
  width: 20vw;
  margin: 0px 20px;
  overflow: hidden;
  transition: transform 0.4s ease;
}


.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease, filter 0.5s ease;
  display: block;
}


.imgBox h2,
.imgBox p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  text-align: center;
  width: 90%;
  padding: 0 10px;
  z-index: 2; 
}


.imgBox h2 {
  top: 40%;
  font-family: "miller-display", serif;
  font-size: 22px;
}

.imgBox p {
  top: 55%;
  font-family: "miller-display", serif;
  font-size: 18px;
}


.imgBox:hover img {
  transform: scale(1.1);
  filter: brightness(60%); 
}

.imgBox:hover h2,
.imgBox:hover p {
  opacity: 1;
  transform: translate(-50%, -5%);
}
  

.slider-section {

	background-color:#365359;
	width:100%;
	min-height: 100vh;
	margin-top: 60px;
	padding:90px;
	
}
	

.slider-wrapper .image-list{
	margin-top:20px;
	display: grid;
	gap: 10px;
	grid-template-columns:repeat(4, 1fr);
	justify-items: center;
}

.slider-wrapper .image-item{
	width:310px;
	height:400px;
	object-fit: cover;
}

section {
  margin: 0;
  padding: 0;
}

.slider-section {
  background-color: #365359;
  width: 100%;
  min-height: 100vh;
  margin-top: 60px;
  padding: 90px;
}

.slider-wrapper .image-list {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

html {
  scroll-behavior: smooth;
}

