
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #000002; 
}

.container4{
	width:100%;
	height:100%;
	background: #060606;
}

.search-bar{
	background: #fff;
	width:400px;
	height: 30px;
	display: flex;
	align-items: center;
	overflow: hidden;
	border-radius: 4px;
}

.search-bar input{
 font-family: "miller-banner", serif;
	border: none;
	outline: none;
	flex: 1px;
	padding: 0 8px;
	
}

.search-bar button{
	background: #86A6A6;
	padding: 5px 15px;
	border: none;
	outline: none;
	color: #fff;
	letter-spacing:1px;
	cursor: pointer;
	font-family: "jaf-lapture-caption", serif;
	
}

.search-bar button:hover{
	color: black;
	transform: scale(1.08);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  font-family: "miller-banner", serif;
  font-weight: 700;
  font-style: italic;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
} 

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 50px;
}

nav ul li a:hover {
  color: #86A6A6;
  font-family: "miller-banner", serif;
  font-weight: 700;
  font-style: italic;
}


.container {
  background-color: #000002;
  position: relative;
  width: 100%;
  height: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "nautica", sans-serif;
  font-weight: 700;
  font-size: 150px;
}


.tagline-container {
  width: 100%;
  max-width: 1400px;       
  margin: 0 auto;          
  padding: 10px 70px;      
  color: #86A6A6;
  font-size: 32px;
  font-family: "miller-banner", serif;
  font-weight: 700;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-section {
  background-color: #365359;
  width: 100%;
  margin-top: 60px;
  padding: 90px 0;
}

.slider-section h1 {
  margin-top: 10px;
  text-align: center;
 	color: white;
 	font-family: "nautica", sans-serif;
 	font-weight: 700;
 	font-size: 100px;
 }

.slider-section p {
  text-align: center;
  color: white;
  font-family: "miller-banner", serif;
  font-size: 25px;
}

.slider-section .image-list {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}

.slider-section .imgBox {
  position: relative;
  background-color: #86A6A6;
  border-radius: 10px;
  height: 450px;
  width: 350px;
  margin: 0px 20px;
  overflow: hidden;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.slider-section .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.slider-section .imgBox:hover img {
  transform: scale(1.1);
  filter: brightness(60%);
}

.slider-section .imgBox h2,
.slider-section .imgBox p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  width: 90%;
  z-index: 2;
  text-align: center;
}

.slider-section .imgBox h2 {
  top: 40%;
  font-family: "miller-display", serif;
  font-size: 22px;
}

.slider-section .imgBox p {
  top: 55%;
  font-family: "miller-display", serif;
  font-size: 18px;
}

.slider-section .imgBox:hover h2,
.slider-section .imgBox:hover p {
  opacity: 1;
  transform: translate(-50%, -5%);
}


.reviews {
  background-color: #f3ede6;
  width: 100%;
  min-height: auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.reviews .review {
  width: 48%;
  display: flex;
  gap: 25px;
  font-family: "jaf-lapture-caption", serif;
  font-size: 25px;
}

.reviews img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews h4 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.reviews p {
  margin: 8px 0 0;
  font-size: 20px;
  color: black;
  line-height: 1.4;
}


.custom-scent {
  padding: 50px 0px;
  text-align: center;
  color: white;
  background-color: #365359;
  width: 100%;
  height: auto;
  font-family: "miller-banner", serif;
}

.custom-title {
  background-color: #403333;
  font-size: 35px;
  border: 2px solid white;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.form {
  background-color: black;
  max-width: 500px;
  margin: auto;
  padding: 40px;
  border-radius: 30px;
}

.form select {
  width: 100%;
  padding: 20px;
  border-radius: 30px;
  font-size: 16px;
  font-family: "jaf-lapture-caption", serif;
  cursor: pointer;
  border: none;
}

.form select:hover {
  transform: scale(1.03);
}

.submit-button {
  font-family: "jaf-lapture-caption", serif;
  margin-top: 30px;
  padding: 25px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

 
label.submit-button {
  display: inline-block;
}

 .submit-button:hover{
	transform: scale(1.08);
}

#makingMsg {
  color: white;
  font-size: 22px;
  margin-top: 20px;
  opacity: 0;
  transition: 0.4s ease;
}


#makeScentToggle:checked + label + #makingMsg {
  opacity: 1;
}

.footer {
  background-color: #365359;
  color: #86A6A6;
  padding: 95px 0;
  padding-left:40px;
  font-size: 30px;
  font-family: "miller-banner", serif;
  font-weight: 700;
  font-style: italic;
}

.container2 {
    background-color:#5F736F;
    font-size: 28px;
    font-family: "miller-banner", serif;
    font-weight: 600;
    font-style: italic;
    color:white;
    text-align:center;
    padding: 40px 0;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 10px 0;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
    width: 100%;
    max-width: 700px;
    height: 500px;
    border-radius: 0.5rem;
    scroll-snap-align: start;
    object-fit: cover;
    flex-shrink: 0;
	cursor: pointer;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
	
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    transition: opacity 250ms ease;
}

.slider-nav a:hover {
    opacity: 1;
}

.banner{
	position:relative;
	width: fit-content;
}

.banner img{
	width:auto;
	height: 570px;
	display: block;
}

.p1{
	color: white;
    font-family: "miller-banner", serif;
    font-weight: 600;
    font-style: italic;
	font-size:23px;
	position: absolute;
	top:100px;
	left:20px;
	
	max-width: 80%;
}

.p2{
	color: white;
    font-family: "miller-banner", serif;
    font-weight: 600;
    font-style: italic;
	font-size:23px;
	position: absolute;
	top:50%;
	right:20px;
	
	max-width: 80%;
}

.contact-form{
	position: relative;
	min-height:40%;
	z-index: 0;
	background:white;
	padding: 30px;
	justify-content: center;
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	align-items:flex-start;
}

.container-quest{
	max-width: 600px;
	margin: 0 auto;
}

.contact-form h1{
	text-align: center;
	font-family: "jaf-lapture-caption", serif;
	font-size: 2.0rem;
	font-weight: 200;
	color: black;
	
	
}

.btn, button, input{
	border-radius:60px;
}

.btn:hover,
button:hover{
	color: black;
	transition: 0.5s ease;
}

.contact-form form{
	margin:30px 0;
}

.contact-form input{
	outline:none;
	margin-bottom: 15px;
	font-size: 16px;
	color: black;
	padding: 14px 20px;
	width:90%;
	display: inline-block;
	box-sizing: border-box;
	border:none;
	background:#86A6A6;
	transition:0.3s ease;
	font-family: "jaf-lapture-caption", serif;
	
}

.contact-form button{
	font-size: 18px;
	color: #fff;
	width:90%;
	background: #5F736F;
	font-family: "jaf-lapture-caption", serif;
	font-weight:600;
	transition: 0.3s ease;
	padding: 10px 15px;
}


.contact-form textarea {
  width: 90%;                  
  min-height: 150px;           
  padding: 14px 20px;          
  border: none;                
  outline: none;              
  background:#403333;         
  color: white;
  
  font-family: "jaf-lapture-caption", serif;
  font-size: 16px;            
  
  box-sizing: border-box;      
  margin-bottom: 15px;         
  
  border-radius: 20px;         
  resize: none;                
  display: block;
}

#success-message {
    display: none;        
    color: green;
    background: #e8f9e8;
    border: 1px solid #b7e6b7;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
    font-family: "jaf-lapture-caption", serif;
    font-size: 1rem;
    animation: fadeIn 0.5s ease forwards;
}
	
.contact-social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  background: #f8f5f3;
  padding: 50px 80px;
}

.social-footer {
    background: gray;       
    padding: 40px 0;
    text-align: center;
    color: #FCF4EE;

    font-family: "miller-banner", serif;
    font-weight: 700;
	
}

.social-footer h2 {
    margin-bottom: 20px;
    font-size: 32px;
}


.social-footer .icons {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.social-footer img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.social-footer img:hover {
    transform: scale(1.15);